{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<div class="container">
<h1> Todos </h1>

<!--todo list-->
<ul>
{% for t in detail %}

  <li  class="border border-secondary-subtle shadow p-3 mb-1 bg-body-tertiary rounded ">
    <form
            id="contactForm"
            name="sentMessage"
            method="post"
            action="{{url_for('completed',id=t.id)}}"
    >
        <input type="checkbox" onchange="this.form.submit()">
        <p style="display:inline; padding-left: 10px;">
        {{ t.task }} </p>
     {% if not t.schedule %}
       <span class="due_time"> No due time </span>
     {% else %}
        <span class="due_time"> {{t.schedule}} </span>
        <span class="due_time"> {{t.time}} </span>
     {% endif %}
        <a href="{{url_for('delete',id=t.id)}}" class="px-5  text-danger">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
               class="bi bi-trash3-fill" viewBox="0 0 16 16">
          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
          </svg>
         </a>
       </form>
   </li>

{% endfor %}
</ul>

<!--add button-->
<div class="container m-3">
   <a href="{{ url_for('task') }}" type="button" class="btn btn-primary">
       <svg xmlns="http://www.w3.org/2000/svg"
            width="16" height="16" fill="currentColor"
            class="bi bi-plus-lg" viewBox="0 0 16 16">
       <path fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
       </svg>
       Add Task
   </a>
</div>
<div class="container">
 <div class="row">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
      <div class="col-lg-8 col-md-10 mx-auto">
           <h3 class="flash">{{message}}</h3>
       </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
 </div>
</div>
    <!--completed tasks-->
<ul>
{% for t in completed_task %}

  <li  class="border border-secondary-subtle shadow p-3 mb-1 bg-body-tertiary rounded ">
        <p class="cut_text" style="display:inline; padding-left: 10px;">
        {{ t.task }} </p>
     {% if not t.schedule %}
       <span class="due_time"> No due time </span>
     {% else %}
        <span class="due_time"> {{t.schedule}} </span>
        <span class="due_time"> {{t.time}} </span>
     {% endif %}
      <a  href="{{url_for('delete',id=t.id)}}" class="px-5 text-danger" >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
               class="bi bi-trash3-fill" viewBox="0 0 16 16">
          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
          </svg>
     </a>
   </li>
{% endfor %}
</ul>
</div>
{% include "footer.html" %}
